<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="flash.html">FLASH!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">CONTACT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="info.html">INFO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="faq.html">FAQ</a>
              </li>
            </ul>
            </div>
          </nav>


<div class="title">

  <h1>Hand-Poked Tattoos</h1>
  <img class="titleimage" src="../static/images/sheep_image.png" alt="This is a place holder sheep">
  <h6>By Mollie Face</h6>
</div>

<div class="grid-container">
  <div class="grid-item"><img class="images" src= "../static/images/lion.jpg" alt="A Hand-Poked Tattoo of a Lion"></div>
  <div class="grid-item"><img class="images" src="../static/images/bree.jpg" alt="A Hand-Poked Tattoo of a Flowers"></div>
  <div class="grid-item"><img class="images" src="../static/images/alex.jpg" alt="A Hand-Poked Tattoo of a Flower"></div>
  <div class="grid-item"><img class="images" src="../static/images/bird.jpg" alt="A Hand-Poked Tattoo of a Kestral"></div>
  <div class="grid-item"><img class="images" src="../static/images/skull.jpg" alt="A Hand-Poked Tattoo of a Skull and Cactus"></div>
  <div class="grid-item"><img class="images" src="../static/images/skull2.jpg" alt="A Hand-Poked Tattoo of a Skull with Flowers"></div>
  <div class="grid-item"><img class="images" src="../static/images/poppy.jpg" alt="A Hand-Poked Tattoo of a Flower"></div>
  <div class="grid-item"><img class="images" src="../static/images/abstract.jpg" alt="A Hand-Poked Abstract Tattoo"></div>
  <div class="grid-item"><img class="images" src="../static/images/flask.jpg" alt="A Hand-Poked Tattoo of a Flask with a Frog"></div>
  <div class="grid-item"><img class="images" src="../static/images/flower_clump.jpg" alt="A Hand-Poked Tattoo of a Bouquet of Flowers"></div>
  <div class="grid-item"><img class="images" src="../static/images/flower_stamps.jpg" alt="A Hand-Poked Tattoo of a Three Simple Flowers"></div>
  <div class="grid-item"><img class="images" src="../static/images/demart.jpg" alt="A Hand-Poked Tattoo of Geometric Flowers"></div>
  <div class="grid-item"><img class="images" src="../static/images/noel.jpg" alt="A Hand-Poked Tattoo of a Flower"></div>
  <div class="grid-item"><img class="images" src="../static/images/sage.jpg" alt="A Hand-Poked Tattoo of a Flower"></div>
  <div class="grid-item"><img class="images" src="../static/images/wheat.jpg" alt="A Hand-Poked Tattoo of Wheat"></div>
  <div class="grid-item"><img class="images" src="../static/images/rob.jpg" alt="A Hand-Poked Tattoo of a Jackalope"></div>
  <div class="grid-item"><img class="images" src="../static/images/jeff.jpg" alt="A Hand-Poked Tattoo of a Tree Stump Morphing into a Bycicle Cassette"></div>
  <div class="grid-item"><img class="images" src="../static/images/fern3.jpg" alt="A Hand-Poked Tattoo of a Fern"></div>
</div>
    </body>